# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable scope-inspector': 'scope-inspector:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'scope-inspector'
      'submenu': [
        { 'label': 'Toggle Sidebar', 'command': 'scope-inspector:toggle' }
      ]
    ]
  }
]
