@import "ui-variables";

.scope-inspector {
  background: @tool-panel-background-color;
  width: 300px;
  overflow: auto;

  .scope-inspector-resize-handle {
    left: -5px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    cursor: col-resize;
    z-index: 3;
  }
}

.scope-view ul {

  list-style: none;
  font-family: Source Code Pro, Consolas, monospace;

  li {
    .argument {
      float: right;

      font-size: .8em;
      opacity: .7;
    }
    .indicator-hoisted {
      float: right;
      color: @text-color-info;
    }
  }

  .is-shadowing {
    color: @text-color-info;
  }

  .is-shadowed {
    color: @text-color-subtle !important;
    text-decoration: line-through;
  }
}

.scope-highlight {
  position: absolute;
  //background: #333;
  background: @background-color-highlight;
}

.scope-path {
  .inset-panel {
    overflow: auto;
  }
  .scope-options {
    float: right;
  }
  .scope-path-buttons {
    //float: left;
  }
}

.violation {
    position: absolute;
  }

  .violation-arrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: transparent;
    border-width: 5px 5px 0 5px;
    border-top-color: @text-color-warning;

  }
  .violation-area {
    position: absolute;
    top: 0;
  }

  .violation-border {
    position: absolute;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: @text-color-warning;
    top: 0;
    left: 10px;
    right: 0;
  }
