// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.scope-inspector {
  background: @tool-panel-background-color;
  width: 300px;
  overflow: auto;
}

.scope-view ul {

  list-style: none;
  font-family: Source Code Pro, Consolas, monospace;

  li {
    .argument {
      float: right;

      font-size: .8em;
      opacity: .7;
    }
    .indicator-hoisted {
      float: right;
      color: @text-color-info;
    }
  }

  .is-shadowing {
    color: @text-color-info;
  }

  .is-shadowed {
    color: @text-color-subtle !important;
    text-decoration: line-through;
  }
}

.scope-highlight {
  position: absolute;
  //background: #333;
  background: @background-color-highlight;
}

.scope-path {
  .scope-options {
    float: right;
  }
  .scope-path-buttons {
    //float: left;
  }
}
